<!DOCTYPE HTML>
<html>
    <head>
        <title>ShareNotesOnHaste</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    </head>
    <body>
        <div id="container">
            <form action="{{ url_for('index') }}" method="POST">
                <textarea id="new-note" name="note" rows="5" draggable="false" placeholder="Enter Note..."></textarea>
                <button class="btn btn-dark" id="submit">Add note</button>
            </form>
            {% for n in notes %}
                <div class="note-grid-{{ loop.index }}">
                    <p contenteditable="true">{{ n }}</p>
                    <a href="#" onclick="javascript:this.parentElement.remove();" class="close">x</a>
                </div>
            {% endfor %}
        </div>
    </body>
</html>
